# OpenWeatherMap API Key
EXPO_PUBLIC_WEATHER_API_KEY=YOUR_WEATHER_API

# ThingSpeak API Key (optional)
EXPO_PUBLIC_THINGSPEAK_API_KEY=YOUR_THINGSPEAK_API_KEY_HERE

# Default city for weather data
EXPO_PUBLIC_DEFAULT_WEATHER_CITY=Antananarivo

# OpenWeatherMap base URL
EXPO_PUBLIC_WEATHER_URL=https://api.openweathermap.org